body {
	--main-bg-color: rgb(12, 12, 12);
	position: relative;
	margin: 0 0 0 15%;
	width: 85%;
	padding: 0;
	font-family: 'Roboto', 'Open Sans', Segoe UI, sans-serif;
	background: var(--main-bg-color);
	font-size: 0.9em;
}

#header-text {
	margin: 10px 0;
	color: rgb(230, 230, 230);
	font-weight: 500;
}

#no-result {
	margin-top: 60px;
	text-align: center;
	font-weight: 500;
	color: white;
}


#genre-results-container {
	margin: 55px 5% 0;
	color: rgb(200, 200, 200);
}

.genre-result {
	width: 100%;
	padding: 10px 10px;
	margin-bottom: 15px;
	display: flex;
	align-items: flex-end;
	background-color: rgb(25, 25, 25);
	border-radius: 5px;
}

.genre-result img {
	margin-right: 1%;
	width: 15%;
	border-radius: 5px;
}

.result-details {
	width: 25%;
}

.result-details a {
	text-decoration: none;
}

.result-name {
	margin-top: 0;
	margin-bottom: 10px;
	color: rgb(220, 220, 220);
	font-weight: 500;
	font-size: 1.5em;
}

.media-type {
	color: rgba(245, 93, 66, 0.8);
}

@media screen and (max-width: 1000px) {
	body {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 700px) {
	#genre-results-container {
		margin: 70px 0 0;
		color: rgb(200, 200, 200);
	}

	.genre-result {
		width: 100%;
		border-radius: 0px;
	}

	.genre-result img {
		width: 25%;
	}

	.result-details {
		width: 35%;
	}
}

@media screen and (max-width: 400px) {
	.genre-result {
		width: 100%;
	}

	.genre-result img {
		width: 40%;
	}

	.result-details {
		width: 60%;
	}
}
