* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	--main-bg-color: rgb(12, 12, 12);
	position: relative;
	padding: 0 0 0 15vw;
	width: 100%;
	margin: 0;
	background: var(--main-bg-color);
}

.material-icons-outlined, .material-symbols-rounded, a {
	cursor: pointer;
}

#site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 85vw;
	margin-left: 15vw;
	padding: 5px 5%;
	background: rgb(25, 25, 25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

#site-name {
	display: inline;
	margin: 0 10px 0 0;
	color: rgb(230, 230, 230);
    line-height: 18px;
}

#search-bar-container {
	display: flex;
	border-radius: 10px;
	width: 40%;
	padding: 3px;
	background-color: rgb(35, 35, 35);
}

#search-icon {
	width: 10%;	
	color: rgba(245, 93, 66, 0.8);
	background-color: rgb(35, 35, 35);
	border: none;
	font-size: 1.5rem;
}

#search-bar {
	width: 90%;
	height: 25px;
	outline: none;
	border: none;
	color: rgb(200, 200, 200);
	background-color: rgb(35, 35, 35);
	padding: 0;
}

#close-search-bar {
	display: none;
}

#mobile-search-trigger {
	display: none;
	color: rgba(245, 93, 66, 0.8);
	background-color: inherit;
	border: none;
	font-size: 1.5rem;
}

#mobile-menu {
	display: none;
	margin-right: 10px;
	color: rgb(220, 220, 220);
	cursor: pointer;
}

#close-menu {
	display: none;
	color: rgb(220, 220, 220);
	width: 100%;
	font-size: 1.3em;
	text-align: right;
	font-weight: 500;
}

#menu-bar {
	font-family:  'Roboto', 'Segoe UI', 'Radio Canada', 'Open Sans', sans-serif;
	font-size: 0.95em;
	position: fixed;
	top: 0;
	left: 0;
	width: 15vw;
	height: 100%;
	z-index: 6;
	background: rgb(30, 30, 30);
	padding: 10px;
	min-width: 200px;
	transition: 0.6s;
}

#menu-options {
	margin-top: 25px;
	position: relative;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#menu-options a {
	display: block;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
	color: rgb(200, 200, 200);
	cursor: pointer;
}

#selected-option {
	background: rgba(245, 93, 66, 0.8);
}

#genres {
	position: absolute;
	left: -100%;
	top: 0;
	margin-top: 10px;
	text-decoration: none;
	width: 100%;
	height: 100vh;
	z-index: 7;
	background: inherit;
	transition: 0.5s;
}

#genres div {
	transition: 0.5s;
}

#genres a {
	display: block;
	padding: 5px 30px;
	text-decoration: none;
	color: rgb(200, 200, 200);
	cursor: pointer;
}

#genres h2 {
	color: rgb(200, 200, 200);
	margin: 5px 10px;
	background: rgba(245, 93, 66, 0.8);
	border-radius: 5px;
	font-weight: 400;
	font-size: 1.2em;
	padding: 5px;
	text-align: center;
	position: relative;
}

#genres span {
	position: absolute;
	top: 5px;
	left: 5px;
	cursor: pointer;
}


@media screen and (max-width: 1200px) {
	body {
		width: unset;
		padding: 0 0 0 200px;
	}
} 

@media screen and (max-width: 1000px) {
	body {
		width: 100%;
		padding: 0;
	}

	#site-header {
		width: 100%;
		margin-left: 0;
	}

	#mobile-menu {
		display: block;
	}

	#close-menu {
		display: block;
	}

	#menu-bar {
		left: -100%;
	}
}

@media screen and (max-width: 700px) {
	#site-header {
		padding: 0 5px;
		height: 60px;
	}

	#menu-bar {
		width: 40%;
	}

	#search-bar-container {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		border-radius: 0;
		-webkit-transform-origin: 100% 0;
		-webkit-transform: scaleX(0);
		transition: 0.3s;
	}

	#search-bar-container #search-bar {
		height: 80%;
	}

	#mobile-search-trigger {
		display: inline-block;	
	}
}
