@media screen and (min-width: 1001px) {
	body {
		width: unset;
		margin-left: 200px;
	}
} 

@media screen and (max-width: 1000px) {
	body {
		width: 100%;
		margin: 0;
	}

	#mobile-menu {
		display: block;
	}

	#close-menu {
		display: block;
	}

	#menu-bar {
		left: -100%;
	}

	#details {
		display: none;
	}

	.media-container {
		width: 21%;
	}

	#recent-releases .media-container {
		width: 21%;
	}

	#coming-soon .media-container {
		width: 21%;
	}

}

@media screen and (max-width: 500px) {
	#details {
		display: none;
	}
}

@media screen and (max-height: 550px) {
	#menu-options {
		height: 100%;
	}
}