* {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0 0 0 15%;
	width: 85%;
	padding: 0 1%;
	font-family: Segoe UI, sans-serif;
	background: rgb(40, 40, 40);
}

#menu-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	height: 100vh;
	z-index: 5;
	background: rgb(55, 55, 55);
	padding: 10px;
	min-width: 200px;
	box-shadow: 10px 0px 5px rgb(45, 45, 45);
}

#menu-options {
	height: 60%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#menu-options a {
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
	color: rgb(200, 200, 200);
}

#selected-option {
	background: rgba(245, 93, 66, 0.8);
}

#genres{
	display: block;
	margin-top: 10px;
	text-decoration: none;
}

#genres { 
	transform: scaleY(0);
}

#site-name {
	position: absolute;
	left: 4%;
	top: 5px;
	margin: 0;
	color: white;
}

#search-bar {
	width: 40%;
	position: absolute;
	right: 5%;
	top: 5px;
	background: rgb(55, 55, 55);
	height: 35px;
	padding: 5px;
	border-radius: 10px;
	outline: none;
	border: none;
	color: rgb(220, 220, 220);
}

#trending-movies-container {
	display: flex;
	position: relative;
	top: 48px;
	left: 5%;
	width: 90%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#move-left {
	position: absolute;
	font-size: 5em;
	top: 43%;
	left: 0;
	z-index: 4;
	padding: 0 5px;
	line-height: 70px;
	color: rgb(220, 220, 220);
	transition: 0.5s;
	cursor: pointer;	
}

#move-right {
	position: absolute;
	font-size: 5em;
	top: 43%;
	right: 0;
	z-index: 8;
	padding: 0 5px;
	line-height: 70px;
	color: rgb(220, 220, 220);
	transition: 0.5s;
	cursor: pointer;
}

#move-left:hover {
	background: rgba(245, 93, 66, 0.8);
}

#move-right:hover {
	background: rgba(245, 93, 66, 0.8);
}

#trending-movie {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	transition: 0.5s;
}

#trending-txt {
	position: absolute;
	top: 20px;
	left: 5%;
	font-size: 1.3em;
	color: white;
	background: rgba(245, 93, 66, 0.3);
	padding: 5px;
	border-radius: 10px;
}

#trending-movie img {
	display: block;
	width: 100%;
	max-height: 560px;
}

#details {
	padding: 10px;
	color: rgb(225, 225, 225);
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	max-width: 30%;
	overflow-x: hidden;
	background-image: linear-gradient(to left, rgb(70, 70, 70, 0.8) 60%, rgba(70, 70, 70, 0));
}

#details img {
	width: 100%;
	max-height: 200px;
}

#details div {
	opacity: 1;
}

#movie-name {
	font-weight: 500;
	margin-top: 0;
	text-align: left;
}

#rated-nd-run-time {
	display: flex;
	padding-right: 10px;
	justify-content: space-between;
}

#ratings-nd-reviews {
	display: flex;
	justify-content: space-evenly;
}

#movies {
	width: 100%;
	margin-top: 50px;
	margin-bottom: ;
}

#movies img {
	width: 100%;
	max-height: 250px;
	border-radius: 5px;
}

#section-names {
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 5%;
	margin-top: 20px;
	margin-bottom: 10px;
}

#section-names div {
	position: relative;
	margin: 0 4% 0 0;
	color: rgb(200, 200, 200);
	transition: 0.5s;
}

#section-names div:hover {
	font-size: 1.5em;
	cursor: pointer;
}

#current-section {
	font-weight: 500;
	font-size: 1.6em;
	color: rgb(200, 200, 200);
}

#current-section span {
	position: absolute;
	width: 35%;
	top: 94%;
	left: 25%;
	right: -25%;
	height: 3px;
	border-radius: 3px;
	background: rgba(245, 93, 66, 0.8);
}

.sections {
	padding: 0 5%;
	width: 100%;
	overflow-x: hidden;
	/*padding: 0 5% 0 5%;*/
}

#top-picks h3{
	color: white;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: 400;
}

.sub-sections {
	width: 100%;
	display: flex;
	overflow-x: hidden;
	margin-bottom: 10px;
}

.movie-container {
	color: rgb(220, 220, 220);
	flex-grow: 0;
	flex-shrink: 0;
	height: 250px;
	width: 19%;
	padding: 5px;
	margin-right: 1%;
}

#recent-releases, #coming-soon  {
	display: none;
	flex-wrap: wrap;
}

#little-details {
	font-size: 0.9em;
	color: rgb(180, 180, 180);
}

#little-details span {
	color: rgba(245, 93, 66, 0.8);
}

#clicked-movie-details {
	position: fixed;
	top: 15px;
	right: -23%;
	height: 95vh;
	margin-left: 20px;
	width: 22%;
	border-radius: 10px;
	background: rgb(55, 55, 55);
	padding: 5px;
	color: rgb(220, 220, 220);
	transition: 0.5s;
}

#clicked-movie-details a {
	color: rgb(220, 220, 220);
	text-decoration: none;
}

#clicked-movie-details img {
	width: 100%;
	min-height: 50%;
	border-radius: 10px 10px 0 0;
}

#clicked-movie-details h2{
	font-weight: 500;
	margin: 0;
}

#clicked-movie-details h3 {
	margin: 0;
	font-weight: 400;
}

#clicked-movie-txt {
	height: 65%;
	transform: translateY(-25%);
	background: linear-gradient(to bottom, rgba(55, 55, 55, 0.4) 30%, rgba(55, 55, 55));
}

#name-nd-genres {
	text-align: center;
}

#name-nd-genres span {
	display: inline-block;
	margin: 10px 0;
	background: rgba(245, 93, 66, 0.8);
	padding: 5px;
	border-radius: 5px;
}

#clicked-movie-ratings {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	border-top: 1px solid rgb(150, 150, 150);
	border-bottom: 1px solid rgb(150, 150, 150);
	padding: 5px 0;
}

#plot {
	margin-top: 10px;
}

#plot h3 {
	font-weight: 500;
}

#trailer-link {
	display: inline-block;
	padding: 5px;
	background: rgba(245, 93, 66, 0.8);
	border-radius: 5px;
	margin: 10px 0 0 55%;
}

#close-btn {
	position: absolute;
	background: black;
	color: white;
	top: 10px;
	left: 10px;
	padding: 5px;
}