body {
	background: rgb(18, 18, 18);
}

#filter {
	background: rgb(60, 60, 60);
	width: 120px;
	padding: 5px;
	outline: none;
	border: none;
	z-index: 10;
	color: rgb(220, 220, 220);
}

#series-container {
	margin-top: 50px;
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

#series-container .media-container {
	margin-bottom: 20px;
	width: 19%;
}

@media screen and (max-width: 1000px) {
	body {
		width: 100%;
		margin: 0;
	}

	#series-container .media-container {
		width: 19%;
	}

}

@media screen and (max-width: 660px) {
    #series-container .media-container {
		width: 45%;
	}

	.sub-sections .media-container {
		margin-right: 3%;
		width: 20%;
	}

}

@media screen and (max-width: 500px) {
	#series-container .media-container {
		width: 48%;
	}

	#series-container {
		padding: 15px;
	}
}

@media screen and (max-width: 400px) {
	#series-container {
		display: block;
	}

	#series-container .media-container {
		width: 100%;
	}
}
