
/*#filter {
	position: absolute;
	left: 25%;
	top: 10px;
	margin: 0;
	padding: 5px;
	color: rgb(220, 220, 220);
	background: rgb(80, 80, 80);
}

#filter h3 {
	margin: 0;
}

#filter div {
	transform: scaleY(0);
}*/

#series-container {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#series-container .media-container {
	margin-bottom: 20px;
}
