body {
	background: rgb(18, 18, 18);
}

.filter-cover {
	display: none;
	width: 100%;
	height: 100vh;
	background-color: lightblue;
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

#filter {
	background: rgb(40, 40, 40);
	width: 120px;
	padding: 5px;
	color: rgb(220, 220, 220);
	border-radius: 3px;
	position: relative;
	cursor: pointer;
}

#filter #options {
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: 10px;
	transform: scale(0, 0);
	border-radius: 5px;
	background: rgb(40, 40, 40);
	transition: .05s;
	transform-origin: 0 0;
	z-index: 100;
}

option {
	cursor: pointer;
	padding: 5px;
}

#movies-container {
	margin-top: 60px;
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

#movies-container .media-container {
	margin-bottom: 20px;
	width: 19%;
}

@media screen and (max-width: 1000px) {
	body {
		width: 100%;
		margin: 0;
	}

	#movies-container .media-container {
		width: 19%;
	}

}

@media screen and (max-width: 700px) {
	#movies-container {
		margin-top: 70px;
	}

}

@media screen and (max-width: 660px) {
    #movies-container .media-container {
		width: 45%;
	}

}

@media screen and (max-width: 500px) {
	#details {
		display: none;
	}

	#movies-container .media-container {
		width: 48%;
	}

	#movies-container {
		padding: 15px;
	}
}

@media screen and (max-width: 400px) {
	#movies-container {
		display: block;
	}

	#movies-container .media-container {
		width: 100%;
	}
}
